<% content_for :header do %>
<section class="hero is-warning" style="background-color:#696969; height: 80;text-align: center;">
  <div >
    <div class="container" style="height:60px;" >
      <h1 class="title" style="margin-top: 20px;">
        Browse the latest products on OLX
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="pa3">
    <% if product.image.attached? %>
      <%= image_tag product.image, style: "width: 100px; " %>
     <% end %>

      <h3 class="fw7 f4 title"><%= link_to product.title, product %></h3>

      <p class="has-text-gray fg pt1">Sold by: <%= product.user.name %></p>
       <p class="has-text-gray fg pt1">Brand: <%= product.brand_name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

      <% if product_author(product) %>
         <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
         <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

   
  </div>
  <% end %>
</div>